<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
           رجوع
        </ion-button>
    </ion-buttons>
    <ion-title text-center>اضف وجبة</ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
    <form [formGroup]="addMealForm" (ngSubmit)="submitForm()">

        <ion-item>
            <ion-input formControlName="name" placeholder="اسم الوجبة"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input formControlName="description" placeholder="وصف الوجبة"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" formControlName="price" placeholder="سعر الوجبة"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>نوع الوجبة</ion-label>
            <ion-select interface="popover" formControlName="category"  ok-text="أضف" cancel-text="إلغاء">
            <ion-select-option *ngFor="let type of categories; let i = index" value="{{type}}" [attr.selected]=" type === categories[0]">{{categoriesText[i]}}</ion-select-option>
            <!-- <ion-select-option value="blonde">Blonde</ion-select-option>> -->
            </ion-select>
        </ion-item>

        <div  class="container">
                
            <img src="{{imageUploadService.imageFileName}}" class="image">
            <span class="middle">
                <ion-button (click)="getImage()">ارفع الصورة</ion-button>
            </span>
        </div>


    <ion-footer>
        <ion-button type="submit"  expand="full">اضف</ion-button>
    </ion-footer>
    </form>    
</ion-content>

