.add-meal{
    position: absolute;
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 50% !important;
      height: 50% !important
}


.restDetails {
  font-size: 110%;
}

.date {
  font-size: 80%;
  color: rgb(58, 57, 57);
}

.border {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.comment {
  padding: 0 5% 5% 0;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.gold {
  color: rgb(255, 217, 0);
}

.divider{
  // height: 100%;
  border-left:1px solid #c8c8c8;
}

.rest-logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100%; 
  width: 100%;
}


.container {
  position: relative;
  width: 100%;
}

.image {
opacity: 1;
display: block;
width: 100%;
height: 90%;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}