<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-button (click)="close()">
            <ion-icon name="ios-arrow-forward"></ion-icon>
            رجوع
          </ion-button>
        </ion-buttons>
        <ion-title text-center>الفاتورة</ion-title>
        <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="header">
    <ion-row>
        <ion-col size="4">
            <ion-label text-center>اسم المنتج</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label text-right>الكمية</ion-label>
          </ion-col>
          <ion-col  size="3" >
            <ion-label text-right>المجموع</ion-label>
          </ion-col>
          <ion-col size="auto"></ion-col>
        </ion-row>
  </ion-grid>

  <hr>
  <ion-list *ngIf="orderItems" style="background-color: rgba(134, 128, 128, 0.849);">
    
    <ion-item *ngFor='let orderItem of orderItems' style="border-bottom: 1px solid #52525238;">

              <ion-col size="4" style="border-left: 1px solid #52525238;">
                <ion-label text-center>{{orderItem.item.name}}</ion-label>
              </ion-col>
              <ion-col size="2" style="border-left: 1px solid #52525238;">
                <ion-label text-center>{{orderItem.quantity}} </ion-label>
              </ion-col>
              <ion-col size="3" style="border-left: 1px solid #52525238;">
                <ion-label text-center>{{orderItem.item.price * orderItem.quantity}} ريال </ion-label>
              </ion-col>
              <ion-col size="3" text-center >
                <!-- <ion-label text-center> -->
                  <ion-button color="danger" (click)="remove(orderItem)" style="margin-right:15%;">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                <!-- </ion-label> -->
              </ion-col>

    </ion-item>
  </ion-list>



  <ion-grid>
    <ion-row class="price">
      <ion-col size="9">
        <ion-label>
          سعر الطلب:
        </ion-label>
      </ion-col>
      <ion-col size="3">
          <ion-label>{{totalPrice}} ريال </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="price">
      <ion-col size="9">
        <ion-label>
          سعر التوصيل:
        </ion-label>
      </ion-col>
      <ion-col size="3">
          <ion-label>{{deliveryPrice}} ريال</ion-label>
      </ion-col>
    </ion-row>
    <br>
    <hr>
    <ion-row class="totalPrice">
      <ion-col size="9">
          <ion-label>السعر الاجمالي :</ion-label> 
      </ion-col>
      <ion-col size="3">
          <ion-label>{{deliveryPrice + totalPrice}} ريال‎</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-row> -->
 

</ion-content>

<ion-footer>
  <ion-button color="success" expand="full" (click)="confirm()" [ngClass]="{'disabled': !totalPrice || totalPrice < 10}" disabled="{{!totalPrice || totalPrice < 10}}">
      <span *ngIf="!totalPrice || totalPrice < 10; else lessThanMinPrice">الإجمالي أقل من الحد الأدنى لسعر التسليم</span>
      <ng-template #lessThanMinPrice>تأكيد</ng-template>
  </ion-button>
</ion-footer>








<!-- <ion-item>
  <ion-col size="6">
    <ion-label>الطلب:</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>العدد:</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>السعر:</ion-label>
  </ion-col>
</ion-item>

<ion-item>
  <ion-col size="6">
    <ion-label>مندي دجاج</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>3</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>90 ريال</ion-label>
  </ion-col>
</ion-item>

<ion-item>
  <ion-col size="6">
    <ion-label>بيبسي</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>3</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>6 ريال</ion-label>
  </ion-col>
</ion-item>

<ion-item>
  <ion-col size="6">
    <ion-label>بسبوسة</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>2</ion-label>
  </ion-col>
  <ion-col size="3">
    <ion-label>10 ريال</ion-label>
  </ion-col>
</ion-item> -->