ion-button.disabled {
    opacity: 1;
    background-color: rgba($color: #000000, $alpha: 1.0)
}

.header {
    background-color: #1f1e1e;
    font-weight: bold;
    color: white;
}

.price {
    color: grey;
}

.totalPrice{
    font-size: 18px;
    font-weight: bold;
}

hr {
    background-color: #52525238;
    margin: 0px;
}

ion-list ion-label{
    color: white;
}

ion-item ion-col {
    height: 100%;
}