<ion-content class="chief">
    <ion-grid>
        <ion-row style="direction: ltr;">
            <ion-col>  
                <ion-fab-button (click)="goBack()">
                  <ion-icon name="arrow-dropleft"></ion-icon>
                </ion-fab-button>
              </ion-col>
        </ion-row>
      <!-- <ion-row margin></ion-row> -->
  
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-img style="height: 150px; width: 150px" src="../../../../assets/icon/logo 205.jpg"></ion-img>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <h1 style="color: white; text-align: center; font-weight: bold;">مطبخك</h1>
        </ion-col>
      </ion-row>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-row margin>
          <!-- <ion-col size="auto">
            <ion-label>Email </ion-label>
          </ion-col> -->
          <ion-col>
            <ion-item style="color:white;">
              <ion-label>أيميل </ion-label>
              <ion-input type="email" formControlName="email"  required></ion-input>
            </ion-item>
            <ion-item style="color:white;">
              <ion-label>كلمة السر </ion-label>
              <ion-input type="password" formControlName="password" color="light" required></ion-input>
            </ion-item>
            <br>
            <ion-button type="submit" expand="block" color="dark" [disabled]="!loginForm.valid">دخول</ion-button>
            <br>
          </ion-col>
          <!-- <ion-col size="auto"><ion-label>رقم الجوال</ion-label></ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
              
              <ion-label style="color: white; font-size: 120%;" (click)="register()">ليس لدي حساب <ion-icon name="person-add"></ion-icon></ion-label>
              <ion-label style="color: white; font-size: 120%;" (click)="forgotPassword()">هل نسيت كلمة السر ؟</ion-label>
            </ion-col>
        </ion-row>
      </form>
  
      <!-- <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto" id="recaptcha-container"></ion-col>
        <ion-col></ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-button (click)="sendLoginCode()" color="dark">ارسل رمز الدخول</ion-button>      
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12" *ngIf="windowRef.confirmationResult" justify-content-center text-center>
          <hr>
          <label for="code">ادخل رمز الدخول هنا</label><br>
          <ion-input type="text" name="code" placeholder="ادخل رمز الدخول هنا" [(ngModel)]="verificationCode" class="effect-1" ></ion-input>
          <ion-button color="dark" (click)="verifyLoginCode()">تحقق</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>  
    
  
  </ion-content>