<ion-header>
  <ion-toolbar color="primary"  style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      الموقع
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/customer/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngIf="location">
    <ion-col size="2"><ion-icon name="ios-map" color="medium" size="large"></ion-icon></ion-col>
    <ion-col size="5"><ion-label>مبنى: {{location.buildingNumber}}</ion-label></ion-col>
    <ion-col size="5"><ion-label>شقة: {{location.apartmentNumber}}</ion-label></ion-col>
  </ion-item>

</ion-list>
</ion-content>

<ion-footer>
<ion-button color="success" expand="full" (click)="presentModal()">إضافة موقع جديد</ion-button>
</ion-footer>