// .profile-pic {
//     width: 200px;
//     height: 200px; 
//     border: 1px solid #ddd;
//     border-radius: 4px;
//     padding: 5px;
// }

.toLocation {
    color: #fc6c85;
    text-decoration: underline;
}

ion-avatar {
    border: 1px solid #ffffff;
    border-radius: 4px;
    border-radius: 50%;
    background-color: #ffffff;

    // width:100% !important;  
    // height : 100% !important;  
    width: 120px !important;  //any size
    height: 120px !important; //any size 
}

.half-color {
    background: linear-gradient(0deg, #ffffff 50%, #fc6c85 50%);
}

ion-item {
    margin: 16px 0;
}

.row {
    padding: 16px 16px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

