<ion-header no-border>
  <ion-toolbar color="primary" style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      أنا
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/customer/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
<ion-content>
  <ion-grid no-padding>
    <ion-row class="half-color">
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-avatar align-self-center>
            <ion-img [src]="customer?.image == null ? imageUploadService.imageFileName : customer.image" (click)="getImage()" class="profile-pic"></ion-img>
            <br>
            <!-- <ion-img *ngIf="customer" src="{{customer.image}}"></ion-img> -->
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- <ion-row justify-content-center>
      <img *ngIf="customer" src="{{customer.image}}" class="profile-pic">
    </ion-row> -->

    <ion-list *ngIf="customer">
        <ion-item>
          <ion-label><ion-text slot="start">الإسم الأول: </ion-text></ion-label><ion-input value="{{customer.firstName}}" name="firstName" margin-end disabled #fname></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(fname, ifname)"><ion-icon slot="icon-only" name="create" color="primary" #ifname></ion-icon> </ion-button>
        </ion-item>

        <ion-item>
          <ion-label><ion-text slot="start">اللقب: </ion-text></ion-label><ion-input value="{{customer.lastName}}" name="lastName" margin-end disabled #lname></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(lname, ilname)"><ion-icon slot="icon-only" name="create" color="primary" #ilname></ion-icon> </ion-button>
        </ion-item>


        <ion-item>
          <ion-label><ion-text slot="start">الرقم: </ion-text></ion-label><ion-input value="{{customer.mobile}}" name="mobile" margin-end disabled #mobile></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(mobile, imobile)"><ion-icon slot="icon-only" name="create" color="primary" #imobile></ion-icon> </ion-button>
        </ion-item>

        <ion-item>
          <ion-label><ion-text slot="start">الايميل: </ion-text></ion-label><ion-input value="{{customer.email}}" name="email" margin-end disabled #email></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(email, iemail)"><ion-icon slot="icon-only" name="create" color="primary" #iemail></ion-icon> </ion-button>
        </ion-item>

        <ion-item>
          <ion-label>الموقع: <ion-button [routerLink]="['/customer/location']" class="toLocation" margin-end buttonType="mat-button">
            الذهاب الى صفحة الموقع <ion-icon name="ios-map"></ion-icon></ion-button>
          </ion-label>
        </ion-item>
        
    </ion-list>

  </ion-grid>    
  
</ion-content>
