.profile-pic {
    width: 200px;
    height: 200px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}


.container {
    position: relative;
    width: 100%;
  }
  
  .image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  
  .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
  
  .container:hover .image {
  opacity: 0.3;
  }
  
  .container:hover .middle {
  opacity: 1;
  }

  .content{
    background: #fc6c85;
    color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin : 20px 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;

  }
