<ion-content class="content">
<h1 style="color: white; text-align: center; font-weight: bold;">سائق جديد</h1>

<br>
<br>
<form [formGroup]="registrationForm" (ngSubmit)="register()" style="margin-bottom: 40px;">

  <ion-row justify-content-center class="container">
      <img src="{{imageUploadService?.imageFileName}}" (click)="getImage()" class="profile-pic image">
    </ion-row>

  <ion-item>
      <ion-input color="light" required type="text" formControlName="firstName" placeholder="الاسم الاول"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input color="light" required type="text" formControlName="lastName" placeholder="الاسم الأخير"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input color="light" required type="tel" formControlName="mobile" placeholder="رقم الهاتف"></ion-input>
</ion-item>

  <!-- <ion-item>
      <ion-input required type="text" placeholder=""></ion-input>
  </ion-item> -->
  <br>
  
  
  <br>
  <br>
  <!-- <ion-item> -->
    <ion-footer>
        <ion-button type="submit" size="full" color="success" [disabled]="!registrationForm.valid">دخول</ion-button>
    </ion-footer>
    
  <!-- </ion-item> -->
  <br>
  
</form>
</ion-content>