<ion-content class="chief">
  <ion-grid>
      <ion-row style="direction: ltr;">
          <ion-col>  
              <ion-fab-button (click)="goBack()">
                <ion-icon name="arrow-dropleft"></ion-icon>
              </ion-fab-button>
            </ion-col>
      </ion-row>
    <!-- <ion-row margin></ion-row> -->

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-img style="height: 150px; width: 150px" src="../../../../assets/icon/logo 205.jpg"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 style="color: white; text-align: center; font-weight: bold;">مطبخك</h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <ion-row margin>
        <!-- <ion-col size="auto">
          <ion-label>Email </ion-label>
        </ion-col> -->
        <ion-col>
          <ion-item style="color:white;">
            <ion-input type="email" formControlName="email" color="light" placeholder="أميل" required></ion-input>
          </ion-item>
          <span formGroupName="passwords">
                <ion-item>
                    <ion-input color="light" required type="password" formControlName="password" placeholder="كلمة السر"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input color="light" required type="password" formControlName="confirmPass" placeholder="التأكد من كلمة السر"></ion-input>
                    
                </ion-item>
                <ion-label *ngIf="registrationForm.hasError('notSame', 'passwords')" style="color:white;">كلمة السر لا تتطابق</ion-label>
          </span>
          <br>
          <ion-button type="submit" expand="block" color="dark" [disabled]="!registrationForm.valid">دخول</ion-button>
          <br>
        </ion-col>
        <!-- <ion-col size="auto"><ion-label>رقم الجوال</ion-label></ion-col> -->
      </ion-row>
    </form>
  </ion-grid>  
  

</ion-content>