<ion-split-pane>
  <ion-menu side="end">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>الصفحات</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item [routerDirection]="'root'" (click)="signOut()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>
            تسجيل الخروج
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane> 