.restDetails {
    text-align: center;
    font-size: 90%;
    color: rgb(87, 84, 84);
}

.item {
    padding: 8px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

ion-avatar {
    border: 2px solid #ddd;
    border-radius: 4px;
    // padding: 5px;
    border-radius: 50%;

    
    // width: 100px;
    // height: 100px;

    // height: 100%; 
    // width: 100%;
}

.avatar-logo {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.gold {
    color: rgb(255, 217, 0);
}

.sign {
    position: absolute; 
    top: 0%; 
    left: 0%;
    width: 100%;
    height: 100%;
}