<ion-header>
  <ion-toolbar color="primary" style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      قائمة المطاعم
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/customer/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" color="primary" placeholder="ابحث عن مطعم" [(ngModel)]="searchVal" (ionClear)="searchVal = ''"></ion-searchbar>

    <ion-select [(ngModel)]="sortVal" slot="start" selected-text="ترتيب" cancelText="الغاء" okText="موافق" interface="popover" 
    name="sort" style="color: white" (ionChange)="sortChange(sort)" #sort>
      <ion-select-option value="rating">حسب التقييم</ion-select-option>
      <ion-select-option value="name">حسب السعر</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>


    <ion-item *ngFor="let restaurant of restaurants" lines="none" (click)="toRestaurant(restaurant.id, restaurant.restaurantStatus)" class="item"
    [hidden]="searchVal != '' && !restaurant.name.includes(searchVal)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar style="position: relative">
              <ion-img *ngIf="restaurant.restaurantStatus == 'open'" src="{{restaurant.image}}"></ion-img>
            </ion-avatar>
            <ion-img *ngIf="restaurant.restaurantStatus == 'busy'" class="sign" src="../../../assets/img/busy-small.png"></ion-img>
            <ion-img *ngIf="restaurant.restaurantStatus == 'closed'" class="sign" src="../../../assets/img/closed-small.png"></ion-img>
          </ion-col>

          <ion-col size="9">
            <ion-label>
              <h2>{{restaurant.name}}</h2>
              <h5 style="color: rgb(87, 84, 84);"><ion-icon name="ios-restaurant"></ion-icon> {{restaurant.description}}</h5>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="restDetails">
            تقييم <ion-text>({{restaurant.numberOfRates}})</ion-text>:<br>
            <ion-text class="gold">
              <ion-icon name="{{restaurant.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{restaurant.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{restaurant.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{restaurant.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{restaurant.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            </ion-text>
          </ion-col>

          <ion-col class="restDetails">
            متوسط وقت التجهيز:<br>
            {{restaurant.averagePreparationTime}} دقيقة
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- <ion-item> -->
      
      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    <!-- </ion-item> -->
  </ion-list>
</ion-content>
