<ion-header>
  <ion-toolbar color="primary" style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      الطلبات
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>

  <ion-segment mode="md" color="light" [(ngModel)]="tabType">
    <ion-segment-button value="{{status[0]}}" checked>
      لم يأكد
    </ion-segment-button>
    <ion-segment-button value="{{status[1]}}">
      يتم التجهيز
    </ion-segment-button>
    <ion-segment-button value="{{status[7]}}">
      تم التوصيل
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item *ngFor="let order of orders" (click)="billModal()"
    [hidden]="(tabType == status[7] && order.orderStatus != status[7]) || (tabType == status[0] && order.orderStatus != status[0]) ||  
    (tabType != status[0] && tabType != status[7] && (order.orderStatus == status[0] || order.orderStatus == status[7]))">
      <ion-grid *ngIf="order.orderInfo" fixed>
        <ion-row>
          <ion-label text-center><h1>{{order.orderInfo.restaurantName}}</h1></ion-label>
        </ion-row>
        <ion-row>
          <ion-col size="6"> 
            <ion-label *ngFor="let orderItems of order.orderInfo.orderItems; let i = index">{{orderItems.quantity}} {{orderItems.item.name}}</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-button color="tertiary" *ngIf="order.orderStatus == status[0]" expand="full">
              <ion-icon slot="end" name="ios-alert" style="margin-right: 5px;"></ion-icon>
              إضغط للتأكيد
            </ion-button>
            <ion-button color="primary" fill="outline" *ngIf="order.orderStatus != status[0] && order.orderStatus != status[6] && order.orderStatus != status[7]" expand="full">
              <ion-icon slot="end" name="time" style="margin-right: 5px;"></ion-icon>
              يتم التجهيز
            </ion-button>
            <ion-button color="tertiary" fill="outline" *ngIf="order.orderStatus == status[6]" expand="full">
              <ion-icon slot="end" name="ios-alert" style="margin-right: 5px;"></ion-icon>
              وصل الموصل
            </ion-button>
            <ion-button color="secondary" fill="outline" *ngIf="order.orderStatus == status[7]" expand="full">
              <ion-icon slot="end" name="done-all" style="margin-right: 5px;"></ion-icon>
              تم التوصيل
            </ion-button>
          </ion-col>
        </ion-row>          

        <ion-row padding-top text-center>
          <ion-col size="4">
              <ion-label>سعر الطلب</ion-label>
              <ion-label>{{order.orderInfo.totalPrice}} ريال</ion-label>
          </ion-col>
          <ion-col size="4">
              <ion-label>سعر التوصيل</ion-label>
              <ion-label>{{order.orderInfo.deliveryPrice}} ريال</ion-label>
          </ion-col>
          <ion-col size="4">
              <ion-label>المبلغ الاجمالي</ion-label>
              <ion-label>{{order.orderInfo.totalPrice + order.orderInfo.deliveryPrice}} ريال</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


        
      
        
          
  </ion-list>
  
</ion-content>
