// ion-row.deliveryInfo  ion-col::after {
//     content: "";
//     background-color: black;
//     position: absolute;
//     width: 1px;
//     height: 40%;
//     top: 30%;
//     left: 0%;
//     display: block;
// }



ion-item {
    border-bottom: 1px solid grey;
}

ion-segment {
    background: #FC6C85;
}