<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      توصيل
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>  </ion-toolbar>
</ion-header>

<ion-content *ngIf="order">
  <div class="map" dir="ltr">
    <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]=zoom (idle)="mapIdle()" (mapReady)="onMapReady($event)">
      <ion-button>موقعي</ion-button>
      <agm-marker [latitude]="markerDriver.lat" 
                  [longitude]="markerDriver.lng" 
                  [label]="markerDriver.label" 
                  [markerDraggable]="markerDriver.draggable"
                  [iconUrl]="{'url': '../../../assets/icon/car.png','scaledSize': {'height': 50, 'width': 50}}">
      </agm-marker>
      <agm-marker [latitude]="markerShop.lat" 
                  [longitude]="markerShop.lng" 
                  [label]="markerShop.label" 
                  [markerDraggable]="markerShop.draggable"
                  [iconUrl]="{'url': '../../../assets/icon/fast-food-placeholder.svg','scaledSize': {'height': 50, 'width': 50}}">
      </agm-marker>
      <agm-marker [latitude]="markerHome.lat" 
                  [longitude]="markerHome.lng" 
                  [label]="markerHome.label" 
                  [markerDraggable]="markerHome.draggable"
                  [iconUrl]="{'url': '../../../assets/icon/home-location-marker.svg','scaledSize': {'height': 50, 'width': 50}}">
      </agm-marker>
    </agm-map>
  </div>

  <ion-row>
    <ion-col><ion-button color="primary" expand="full" (click)="goToRestaurant()"><ion-icon name="restaurant"></ion-icon>الطريق للمطعم</ion-button></ion-col>
    <ion-col><ion-button color="primary" expand="full" (click)="goToCustomer()"><ion-icon name="home"></ion-icon>الطريق للزبون</ion-button></ion-col>
  </ion-row>

  <ion-card *ngIf="order" no-margin>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3" *ngIf="order.orderInfo">
            <ion-avatar>
              <img src="{{order.orderInfo.restImage}}">
            </ion-avatar>
          </ion-col>

          <ion-col size="9">
            <ion-row>
              <ion-col size="auto" class="header" *ngIf="order.orderInfo">
                {{order.orderInfo.restaurantName}}
              </ion-col>
              <ion-col></ion-col>
              <ion-col size="auto"*ngIf="order.orderInfo">
                التوصيل: {{order.orderInfo.deliveryPrice}} ريال
              </ion-col>
            </ion-row>
            
            <ion-row *ngIf="order.orderInfo">
              <!-- <ion-text *ngFor="let orderItem of order.orderInfo.orderItems" style="color: rgb(87, 84, 84);">{{orderItem.item.name}}، &nbsp; </ion-text> -->
              <ion-col></ion-col>
              <ion-col size="auto"*ngIf="order.orderInfo">
                الطلب: {{order.orderInfo.totalPrice}} ريال
              </ion-col>
            </ion-row>
              
          </ion-col>
        </ion-row>
          
        <ion-row class="background" *ngIf="order.orderInfo">
          <ion-col size="auto" text-end><ion-icon name="car" size="large"></ion-icon><br>موقعك</ion-col>
            <ion-col text-center><ion-text>
              <span class="restaurantDistance">
                {{order.orderInfo.distanceToRestaurant}}
              </span> كم
            </ion-text></ion-col>
          <ion-col size="auto" text-end><ion-icon name="restaurant" size="large"></ion-icon><br>المتجر</ion-col>
            <ion-col text-center><ion-text>
              <span class="customerDistance">
                {{order.orderInfo.distanceToCustomer}}
              </span> كم
            </ion-text></ion-col>
          <ion-col size="auto" text-end><ion-icon name="home" size="large"></ion-icon><br>العميل</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

</ion-content>

<ion-footer *ngIf="order">
  <ion-button color="success" expand="full" (click)="receiving()" [disabled]="!delivery">{{statusText[status]}}</ion-button>
</ion-footer>