.map {
  height: 70%;
  overflow:hidden; /*hide bounds of image */
  margin:0;   /*reset margin of figure tag*/
}

agm-map {
  display:block;
  height: 110%;
  width: 110%
}

.distance {
  ion-icon {
      border-radius: 50%;
      color:#fff; 
      background-color:#3b5998;
  }
  ion-text {
      border-bottom: 2px solid #3b5998;
  }
  
}
.background {
  position: relative;
  z-index: 1;
  
  &:before {
      border-top: 2px solid #3b5998;
      content:"";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 35%; left: 0; right: 0; bottom: 0;
      width: 95%;
      z-index: -1;
  }
  ion-icon {
      border-radius: 50%;
      color:#fff; 
      background-color:#3b5998;
  }
}

ion-avatar {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-radius: 50%;
}