ion-avatar {
    border: 1px solid #ffffff;
    border-radius: 4px;
    border-radius: 50%;
    background-color: #ffffff;

    // width:100% !important;  
    // height : 100% !important;  
    // max-width: 100px !important;  //any size
    // max-height: 100px !important; //any size 
    width: 120px !important;  //any size
    height: 120px !important; //any size 
}

.half-color {
    background: linear-gradient(0deg, #ffffff 50%, #fc6c85 50%);
}

ion-item {
    margin: 16px 0;
}

.row {
    padding: 16px 16px;
    border-bottom: 1px solid rgb(200, 200, 200);
}