<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      أنا
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="deliveryGuy">
    <!-- <ion-row style="background: #fc6c85" justify-content-center>
      <ion-col text-center>
        <h2 style="color: white">{{deliveryGuy.firstName}} {{deliveryGuy.lastName}}</h2>
      </ion-col>
    </ion-row> -->

    <ion-row class="half-color">
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-avatar align-self-center>
          <ion-img [src]="deliveryGuy?.image == null ? imageUploadService.imageFileName : deliveryGuy.image" (click)="getImage()"></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-list *ngIf="deliveryGuy">
        <ion-item>
          <ion-label><ion-text slot="start">الإسم الأول: </ion-text></ion-label>
          <ion-input value="{{deliveryGuy.firstName}}" name="firstName" margin-end disabled #fname></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(fname, ifname)"><ion-icon slot="icon-only" name="create" color="primary" #ifname></ion-icon> </ion-button>
        </ion-item>

        <ion-item>
          <ion-label><ion-text slot="start">اللقب: </ion-text></ion-label>
          <ion-input value="{{deliveryGuy.lastName}}" name="lastName" margin-end disabled #lname></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(lname, ilname)"><ion-icon slot="icon-only" name="create" color="primary" #ilname></ion-icon> </ion-button>
        </ion-item>


        <ion-item>
          <ion-label><ion-text slot="start">الرقم: </ion-text></ion-label>
          <ion-input value="{{deliveryGuy.mobile}}" name="mobile" margin-end disabled #mobile></ion-input>
          <ion-button slot="end" buttonType="mat-button" (click)="toggle(mobile, imobile)"><ion-icon slot="icon-only" name="create" color="primary" #imobile></ion-icon> </ion-button>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-text slot="start">عدد التوصيلات:</ion-text>
          </ion-label>
          <ion-input value="{{numberOfDeliveries}}" margin-end disabled></ion-input>
        </ion-item>

        <!-- <ion-row class="row" *ngIf="numberOfDeliveries">
          <ion-col size="auto">
            <ion-text>عدد الطلبات المنتهية:</ion-text>
          </ion-col>
          <ion-col></ion-col>
          <ion-col size="auto">
            <ion-text>{{numberOfDeliveries}}</ion-text>
          </ion-col>
        </ion-row> -->

    </ion-list>

    <!-- <ion-row class="row">
      <ion-col size="auto">
        <ion-text>الاسم الأول:</ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-text>{{deliveryGuy.firstName}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="auto">
        <ion-text>اللقب:</ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-text>{{deliveryGuy.lastName}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="auto">
        <ion-text>رقم الجوال:</ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-text>{{deliveryGuy.mobile}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="row" *ngIf="numberOfDeliveries">
      <ion-col size="auto">
        <ion-text>عدد الطلبات المنتهية:</ion-text>
      </ion-col>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-text>{{numberOfDeliveries}}</ion-text>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
