<ion-header>
  <ion-toolbar color="primary" style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      تنبيهات
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

  <ion-item *ngFor="let notify of notifications" style="border-bottom: 1px solid grey;">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar>
            <ion-img src="../../../assets/img/ringing_bell.png"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-text>{{notify.content}}</ion-text>
          </ion-row>
          <ion-row><ion-text style="font-size: 80%; color: grey">{{notify.time.hours}} : {{notify.time.minutes}}</ion-text></ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  </ion-list>
  <ion-row>
    <ion-col>
      <ion-label>{{fcm.token}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button (click)="getPremission()">Grant Permission</ion-button>
    <ion-button (click)="sub()">Subscribe to Topic</ion-button>
    <ion-button (click)="randomDiscount()">broadcast a Notification</ion-button>
  </ion-row>
</ion-content>
