<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
              <ion-icon name="ios-arrow-forward"></ion-icon>
              رجوع
            </ion-button>
          </ion-buttons>
          <ion-title text-center>إضافة موقع</ion-title>
          <ion-buttons slot="end" style="width: 50px"></ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="map" dir="ltr">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
        <ion-button>موقعي</ion-button>
        <agm-marker [latitude]="markerHome.lat" 
                    [longitude]="markerHome.lng" 
                    [label]="markerHome.label" 
                    [markerDraggable]="markerHome.draggable"
                    [iconUrl]="{'url': '../../../assets/icon/home-location-marker.svg','scaledSize': {'height': 50, 'width': 50}}">
        </agm-marker>
      </agm-map>
    </div>
    
    <ion-button color="primary" expand="full" (click)="getLatLon()">تحديد تلقائي</ion-button>
  
   <form [formGroup]="locationForm" (ngSubmit)="submit()">
      <ion-list>
          <ion-item>
            <ion-label>رقم مبنى: </ion-label>
            <ion-input formControlName="buildingNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>رقم الشقة/الغرفة: </ion-label>
            <ion-input formControlName="apartmentNumber"></ion-input>
          </ion-item>
        </ion-list>
        <ion-footer>
            <ion-button type="submit" color="success" expand="full" (click)="submit">إضافة</ion-button>
          </ion-footer>
       </form>       
      </ion-content>
      

