<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
        رجوع
      </ion-button>
    </ion-buttons>
    <ion-title text-center><ion-text *ngIf="restaurant">{{restaurant.name}}</ion-text></ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="restaurant" no-padding>
  <ion-row class="border">
    <ion-col size="6">
      <img src="{{restaurant.image}}" class="rest-logo">
    </ion-col>
    <ion-col>
      <ion-label text-center>
        <h1>{{restaurant.name}}</h1>
      </ion-label>
    
      <ion-label text-center>
        {{restaurant.description}}
      </ion-label>

      <ion-label class="restDetails" text-center class="gold">
        <ion-icon name="{{restaurant.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
        <ion-icon name="{{restaurant.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
        <ion-icon name="{{restaurant.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
        <ion-icon name="{{restaurant.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
        <ion-icon name="{{restaurant.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
        <ion-text *ngIf='reviews'> ({{reviews.length}}) </ion-text>
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="border">
    <ion-col>
      <ion-label>
          أوقات العمل:
      </ion-label>
      <ion-list text-justify>
          <ion-label *ngIf="restaurant.workingHours.sunday.isOpen === 'true'">
              الأحد   : {{restaurant.workingHours.sunday.from}} - {{restaurant.workingHours.sunday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.sunday.isOpen === 'false'"> 
              الأحد : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.monday.isOpen === 'true'">
              الإثنين : {{restaurant.workingHours.monday.from}} - {{restaurant.workingHours.monday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.monday.isOpen === 'false'"> 
              الإثنين : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.tuesday.isOpen === 'true'"> 
              الثلاثاء: {{restaurant.workingHours.tuesday.from}} - {{restaurant.workingHours.tuesday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.tuesday.isOpen === 'false'"> 
              الثلاثاء : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.wensday.isOpen === 'true'">
              الأربعاء: {{restaurant.workingHours.wensday.from}} - {{restaurant.workingHours.wensday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.wensday.isOpen === 'false'"> 
              الأربعاء : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.thursday.isOpen === 'true'">
              الخميس : {{restaurant.workingHours.thursday.from}} - {{restaurant.workingHours.thursday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.thursday.isOpen === 'false'"> 
              الخميس : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.friday.isOpen === 'true'">
              الجمعة : {{restaurant.workingHours.friday.from}} - {{restaurant.workingHours.friday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.friday.isOpen === 'false'"> 
              الجمعة : ــــــــــــــــــ
            </ion-label>
            <ion-label *ngIf="restaurant.workingHours.saturday.isOpen === 'true'">
              السبت  : {{restaurant.workingHours.saturday.from}} - {{restaurant.workingHours.saturday.to}}
            </ion-label>
            <ion-label *ngIf="restaurant?.workingHours.saturday.isOpen === 'false'"> 
              السبت : ــــــــــــــــــ
            </ion-label>
      </ion-list>
    </ion-col>

    <ion-col padding-start>
      <ion-list>
        <ion-label>
          الحد الأدنى: {{restaurant.minimumPrice}} ريال
        </ion-label>
        <ion-label>
          التوصيل: 15 ريال
        </ion-label>
        <ion-label>
          مدة التجهيز: {{restaurant.averagePreparationTime}} دقيقة
        </ion-label>
      </ion-list>
    </ion-col>
  </ion-row>
  

  <ion-row>
    <ion-label text-center>
      <h2>التعليقات:</h2>
    </ion-label>
  </ion-row>

  <ion-item>
      <ion-grid fixed>
        <ion-row justify-content-center>
            <ion-buttons class="gold">
              <ion-button (click)="changeRate(1)">
                <ion-icon name="{{review.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              </ion-button>
              <ion-button (click)="changeRate(2)">
                <ion-icon name="{{review.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              </ion-button>
              <ion-button (click)="changeRate(3)">
                <ion-icon name="{{review.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              </ion-button>
              <ion-button (click)="changeRate(4)">
                <ion-icon name="{{review.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              </ion-button>
              <ion-button (click)="changeRate(5)">
                <ion-icon name="{{review.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-row>
        <ion-row justify-content-center>
          <ion-input [(ngModel)]="review.comment" clearInput placeholder="ادخل تعليقك . ."></ion-input>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button (click)="submit()" [disabled]="review.rate == 0 || review.name == ''">ادخل</ion-button>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let review of reviews">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-text><b>{{review.name}}</b></ion-text><br>
            <ion-text class="date">{{review.date | date}}</ion-text>
          </ion-col>
          
          <ion-col>
            <ion-label text-end class="gold">
              <ion-icon name="{{review.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{review.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{review.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{review.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
              <ion-icon name="{{review.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="review">
          <ion-text>{{review.comment}}</ion-text>
          <br>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-grid>

</ion-content>
