.rest-logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100%; 
    width: 100%;
}

.restDetails {
    font-size: 110%;
}

.date {
    font-size: 80%;
    color: rgb(58, 57, 57);
}

.border {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.comment {
    padding: 0 5% 5% 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.gold {
    color: rgb(255, 217, 0);
}