<ion-header>
  <ion-toolbar color="primary" style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      الطلبات
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" color="primary" placeholder="ابحث"
    [(ngModel)]="searchVal" (ionClear)="searchVal = ''"></ion-searchbar>

    <ion-select [(ngModel)]="sortVal" slot="start" selected-text="ترتيب" cancelText="الغاء" okText="موافق" interface="popover" 
    name="sort" style="color: white" (ionSelect)="sortChange()">
      <ion-select-option value="{{sorts[0]}}">حسب قرب المطعم</ion-select-option>
      <ion-select-option value="{{sorts[1]}}">حسب قرب العميل</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ng-container *ngFor="let order of orders">
      <ion-card *ngIf="currLocation && order.orderInfo?.distanceToRestaurant < 8" class="item {{order.id}}" 
      [hidden]="searchVal != '' && !order.orderInfo.restaurantName.includes(searchVal)"
      (click)="orderDetailsModal(order)" no-margin>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3" *ngIf="order.orderInfo">
              <ion-avatar>
                <img src="{{order.orderInfo.restImage}}">
              </ion-avatar>
            </ion-col>

            <ion-col size="9">
              <ion-row>
                <ion-col size="auto" class="header" *ngIf="order.orderInfo">
                  {{order.orderInfo.restaurantName}}
                </ion-col>
                <ion-col></ion-col>
                <ion-col size="auto"*ngIf="order.orderInfo">
                  التوصيل: {{order.orderInfo.deliveryPrice}} ريال
                </ion-col>
              </ion-row>
              
              <ion-row *ngIf="order.orderInfo">
                <!-- <ion-text *ngFor="let orderItem of order.orderInfo.orderItems" style="color: rgb(87, 84, 84);">{{orderItem.item.name}}، &nbsp; </ion-text> -->
                <ion-col></ion-col>
                <ion-col size="auto"*ngIf="order.orderInfo">
                  الطلب: {{order.orderInfo.totalPrice}} ريال
                </ion-col>
              </ion-row>
                
            </ion-col>
          </ion-row>
            
          <ion-row class="background" *ngIf="order.orderInfo">
            <ion-col size="auto" text-end><ion-icon name="car" size="large"></ion-icon><br>موقعك</ion-col>
              <ion-col text-center><ion-text>
                <span class="restaurantDistance">
                  {{order.orderInfo.distanceToRestaurant}}
                </span> كم
              </ion-text></ion-col>
            <ion-col size="auto" text-end><ion-icon name="restaurant" size="large"></ion-icon><br>المتجر</ion-col>
              <ion-col text-center><ion-text>
                <span class="customerDistance">
                  {{order.orderInfo.distanceToCustomer}}
                </span> كم
              </ion-text></ion-col>
            <ion-col size="auto" text-end><ion-icon name="home" size="large"></ion-icon><br>العميل</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>