.chief{
    height: 100%;
    background-color: #fc6c85;
    // background-image: url("https://thumbs.dreamstime.com/z/baking-background-eggs-kitchen-tools-mobile-phone-mockup-rolling-pin-wooden-spoons-whisk-sieve-bakeware-shape-cookie-115609783.jpg");
  }

  .content{

    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin : 20px 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
  }