<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      قائمتي
    </ion-title>
    <ion-buttons slot="end" style="width: 50px"></ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" color="primary" placeholder="ابحث عن مطعم" [(ngModel)]="searchVal" (ionClear)="searchVal = ''"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of items" [hidden]="searchVal != '' && !item.name.includes(searchVal)">
        <ion-img src="{{item.image}}"></ion-img>
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
          <ion-grid>
            <ion-row>
                <ion-col size="8" style="line-height:4.5;">
                  {{item.price}} ريال
                </ion-col>
            </ion-row>
            <hr>
            <ion-row>
                <ion-col offset="1" size="2">
                    <ion-button shape="round" (click)="editDish(item)" size="small" color="primary">
                        <ion-label>تعديل </ion-label><ion-icon name="create"></ion-icon>
                      </ion-button>
                      
                </ion-col>
                <ion-col size="1">
                    <ion-button shape="round" (click)="presentAlertConfirm(item)" size="small" color="primary">
                      <ion-label>حذف </ion-label><ion-icon  name="trash"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content style="padding: 0px 20px;">

          

          
        </ion-card-content>
      </ion-card>

</ion-content>

<ion-footer>
    <ion-button style=" text-align: center;  width: 100%; font-size: 18px" (click)="presentModal()" expand="full">
        اضف وجبة
      </ion-button>
</ion-footer>