<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
            <ion-icon name="ios-arrow-forward"></ion-icon>
            رجوع
            </ion-button>
        </ion-buttons>
        <ion-title text-center>تعديل</ion-title>
        <ion-buttons slot="end" style="width: 50px"></ion-buttons>
    </ion-toolbar>
  
</ion-header>

<ion-content>
  <form [formGroup]="editMealForm" (ngSubmit)="submitForm()">
    <ion-item>
        <ion-input formControlName="name" [value]="item.name" placeholder="اسم الوجبة"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-input formControlName="description" [value]="item.description" placeholder="وصف الوجبة"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-input formControlName="price" type="number" [value]="item.price" placeholder="سعر الوجبة"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>نوع الوجبة</ion-label>
      <ion-select interface="popover" formControlName="category" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option *ngFor="let type of categories; let i = index" value="{{type}}" [attr.selected]="item.category === type">{{categoriesText[i]}}</ion-select-option>
        <!-- <ion-select-option value="blonde">Blonde</ion-select-option>> -->
      </ion-select>
    </ion-item>

    <div  class="container">
                
        <img [src]="item.image == null ? imageUploadService.imageFileName : item.image" class="image">
        <span class="middle">
            <ion-button (click)="getImage()">ارفع الصورة</ion-button>
        </span>
    </div>

    <ion-footer>
        <ion-button type="submit" style="margin-top : 15%;" expand="full">تعديل</ion-button>
    </ion-footer>
  </form>

     

  </ion-content>