.chief{
    height: 100%;
    background-color: #fc6c85;
    color: white;
  }
  
  .content{
      background: rgba(255, 255, 255, 0.35);
      border-radius: 3px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
      margin : 20px 20px;
      right: 0;
      z-index: 2;
      padding: 0 10px;
  
    }
  
  .effect-1 {
    background-color: rgba(255, 255, 255, 0);
    border: 0; 
    padding: 7px 0;
    // direction: ltr;
    width: 100%;
    border-bottom: 1px solid white;
    // margin-bottom: 30px;
  }
  .effect-1:focus{
    outline: rgba(0, 0, 0, 0) solid 0px;
  }
  // .effect-1::placeholder {
  //   color: white;
  // }
  
  