<ion-content class="chief">
  <ion-grid>
      <ion-row style="direction: ltr;">
          <ion-col>  
              <ion-fab-button (click)="goBack()">
                <ion-icon name="arrow-dropleft"></ion-icon>
              </ion-fab-button>
            </ion-col>
      </ion-row>
    <!-- <ion-row margin></ion-row> -->

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-img style="height: 150px; width: 150px" src="../../../../assets/icon/logo 205.jpg"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 style="color: white; text-align: center;">تغير كلمة السر</h2>
      </ion-col>
    </ion-row>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
      <ion-row margin>
        <!-- <ion-col size="auto">
          <ion-label>Email </ion-label>
        </ion-col> -->
        <ion-col>
          <ion-item style="color:white;">
            <ion-label>ايميل</ion-label>
            <ion-input type="email" formControlName="email" color="light" required></ion-input>
          </ion-item>
          <br>
          <ion-button type="submit" expand="block" color="dark" [disabled]="!resetPasswordForm.valid">دخول</ion-button>
          <br>
        </ion-col>
        <!-- <ion-col size="auto"><ion-label>رقم الجوال</ion-label></ion-col> -->
      </ion-row>
    </form>

  </ion-grid>  
  

</ion-content>