<ion-content class="content">
<h1 style="color: white; text-align: center; font-weight: bold;">طباخ جديد</h1>

<br>
<br>
<form [formGroup]="registrationForm" (ngSubmit)="registerChief()"  style="margin-bottom: 40px;">
  <ion-row justify-content-center class="container">
    <img src="{{imageUploadService?.imageFileName}}" (click)="getImage()" class="profile-pic image">
  </ion-row>
  <ion-item>
    <ion-input color="light" required type="text" formControlName="firstName" placeholder="الإسم الاول"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input color="light" required type="text" formControlName="lastName" placeholder="الاسم الاخير"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input color="light" required type="tel" formControlName="mobile" placeholder="رقم الهاتف"></ion-input>
  </ion-item>

  

  <br>
  
  
  <br>
  <br>
    <ion-button color="success" type="submit" size="full" [disabled]="!registrationForm.valid">دخول</ion-button>
  <br>
  
</form>

</ion-content>