.add-meal{
    position: absolute;
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 50% !important;
      height: 50% !important
}


.restDetails {
  font-size: 110%;
}

.date {
  font-size: 80%;
  color: rgb(58, 57, 57);
}

.border {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.comment {
    padding: 0 5% 5% 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}


.gold {
  color: rgb(255, 217, 0);
}

.divider{
  // height: 100%;
  border-left:1px solid #c8c8c8;
}

.rest-logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100%; 
  width: 100%;
}


.profile-pic {
  width: 150px;
  height: 150px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}