<ion-header style="background-color:brown;">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
        الحساب
      </ion-title>
      <ion-buttons slot="end" style="width: 50px"></ion-buttons>
    </ion-toolbar>
    
  </ion-header>

  <ion-content>
      <ion-row class="border" align-items-center>
        <ion-col size="7">
                <ion-img [src]="restaurant?.image == null ? imageUploadService.imageFileName : restaurant.image" (click)="getImage()" class="profile-pic"></ion-img>
        </ion-col>
        <ion-col size="5">
          <ion-label class="restDetails" text-center class="gold">
            <ion-icon name="{{restaurant?.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{restaurant?.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{restaurant?.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{restaurant?.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{restaurant?.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
            <ion-text > ({{reviews?.length}}) </ion-text>
          </ion-label>
          <ion-button expand="block" (click)="setLocation()">حدد موقعك</ion-button>
        </ion-col>
      </ion-row>
          
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label></ion-label><ion-input value="{{restaurant?.name}}" name='name' margin-end disabled #restaurantName></ion-input>
              <ion-button slot="end" buttonType="mat-button" (click)="toggle(restaurantName, irestaurantName)"><ion-icon slot="icon-only" name="create" color="primary" #irestaurantName></ion-icon> </ion-button>
            </ion-item>
          
            <ion-item>
              <ion-label></ion-label><ion-textarea value="{{restaurant?.description}}" name='description' disabled #description></ion-textarea>
              <ion-button slot="end" buttonType="mat-button" (click)="toggle(description, idescription)"><ion-icon slot="icon-only" name="create" color="primary" #idescription></ion-icon> </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item *ngIf="restaurant?.restaurantStatus !== null">
              <ion-label>حالة الطعم</ion-label>
              <ion-select interface="popover" (ionChange)="changeRestaurantStatus(restaurantStatus)" #restaurantStatus>
                <ion-select-option *ngFor="let state of status; let i = index" value="{{state}}" [attr.selected]='state === restaurant?.restaurantStatus'>{{statusText[i]}}</ion-select-option>
              </ion-select>
          </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row class="border">
          <ion-col>
            <ion-label>
            أوقات العمل:
            </ion-label>
          </ion-col>
          <!-- <ion-col size="6">
            
          </ion-col> -->
          <ion-col >
            <ion-list *ngIf="!isEditTimeTable" text-justify>
              <ion-label *ngIf="restaurant?.workingHours.sunday.isOpen === 'true'">
                الأحد   : {{restaurant?.workingHours.sunday.from}} - {{restaurant?.workingHours.sunday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.sunday.isOpen === 'false'"> 
                الأحد : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.monday.isOpen === 'true'">
                الإثنين : {{restaurant?.workingHours.monday.from}} - {{restaurant?.workingHours.monday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.monday.isOpen === 'false'"> 
                الإثنين : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.tuesday.isOpen === 'true'"> 
                الثلاثاء: {{restaurant?.workingHours.tuesday.from}} - {{restaurant?.workingHours.tuesday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.tuesday.isOpen === 'false'"> 
                الثلاثاء : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.wensday.isOpen === 'true'">
                الأربعاء: {{restaurant?.workingHours.wensday.from}} - {{restaurant?.workingHours.wensday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.wensday.isOpen === 'false'"> 
                الأربعاء : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.thursday.isOpen === 'true'">
                الخميس : {{restaurant?.workingHours.thursday.from}} - {{restaurant?.workingHours.thursday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.thursday.isOpen === 'false'"> 
                الخميس : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.friday.isOpen === 'true'">
                الجمعة : {{restaurant?.workingHours.friday.from}} - {{restaurant?.workingHours.friday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.friday.isOpen === 'false'"> 
                الجمعة : ــــــــــــــــــ
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.saturday.isOpen === 'true'">
                السبت  : {{restaurant?.workingHours.saturday.from}} - {{restaurant?.workingHours.saturday.to}}
              </ion-label>
              <ion-label *ngIf="restaurant?.workingHours.saturday.isOpen === 'false'"> 
                السبت : ــــــــــــــــــ
              </ion-label>
            </ion-list>
            </ion-col>
            <ion-col size="12" style="text-align: left;">
                <ion-button buttonType="mat-button" (click)="editProfileInfo()" *ngIf="!isEditTimeTable"><ion-icon slot="icon-only" name="create" color="primary"></ion-icon></ion-button> 
            </ion-col>
            <form *ngIf="isEditTimeTable" [formGroup]="workingHoursForm" (ngSubmit)="submitEditWorkingHours()" >
              <ion-row>
                  <ion-col size="12">
                      الأحد
                  </ion-col>
                  <ion-col formGroupName="sunday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.sunday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>                  
      
                        <ion-col size="6" *ngIf="restaurant?.workingHours.sunday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [value]="restaurant?.workingHours.sunday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.sunday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.sunday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                      </ion-col>


                  <ion-col size="12">
                      الاثنين
                  </ion-col>
                  <ion-col formGroupName="monday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.monday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>
      
                        <ion-col size="6" *ngIf="restaurant?.workingHours.monday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.monday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.monday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.monday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                      </ion-col>
                  
                  
                  <ion-col size="12">
                      الثلاثاء
                  </ion-col>
                  <ion-col formGroupName="tuesday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.tuesday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>
      
                        <ion-col size="6" *ngIf="restaurant?.workingHours.tuesday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.tuesday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.tuesday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.tuesday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                      </ion-col>


                  <ion-col size="12">
                      الاربعاء
                  </ion-col>
                  <ion-col formGroupName="wensday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.wensday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>
      
                        <ion-col size="6" *ngIf="restaurant?.workingHours.wensday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.wensday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.wensday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.wensday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                      </ion-col>


                  <ion-col size="12">
                      الخميس
                  </ion-col>
                  <ion-col formGroupName="thursday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.thursday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>
                        <ion-col size="6" *ngIf="restaurant?.workingHours.thursday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.thursday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.thursday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.thursday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                    </ion-col>


                  <ion-col size="12">
                      الجمعة
                  </ion-col>
                  <ion-col formGroupName="friday" size="12">
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>حالة المطعم</ion-label>
                            <ion-select [(ngModel)]="restaurant?.workingHours.friday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                              <ion-select-option value="true">مفتوحين</ion-select-option>
                              <ion-select-option value="false">مقفلين</ion-select-option>
                            </ion-select> 
                          </ion-item>
      
                        </ion-col>
                        <ion-col size="6" *ngIf="restaurant?.workingHours.friday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>من</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.friday.from"></ion-datetime>
                              </ion-item>
                        </ion-col>
                        
                        <ion-col size="6" *ngIf="restaurant?.workingHours.friday.isOpen === 'true'">
                            <ion-item>
                                <ion-label>الى</ion-label>
                                <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.friday.to"></ion-datetime>
                              </ion-item>
                        </ion-col>
                    </ion-col>


                  <ion-col size="12">
                    السبت
                </ion-col>
                <ion-col formGroupName="saturday" size="12">
                    <ion-col size="12">
                        <ion-item>
                          <ion-label>حالة المطعم</ion-label>
                          <ion-select [(ngModel)]="restaurant?.workingHours.saturday.isOpen" formControlName="isOpen" ok-text="تمام" cancel-text="قفل">
                            <ion-select-option value="true">مفتوحين</ion-select-option>
                            <ion-select-option value="false">مقفلين</ion-select-option>
                          </ion-select> 
                        </ion-item>
      
                      </ion-col>
                      <ion-col size="6" *ngIf="restaurant?.workingHours.saturday.isOpen === 'true'">
                          <ion-item>
                              <ion-label>من</ion-label>
                              <ion-datetime display-format="HH:mm" formControlName="from" [(ngModel)]="restaurant?.workingHours.saturday.from"></ion-datetime>
                            </ion-item>
                      </ion-col>
                      
                      <ion-col size="6" *ngIf="restaurant.workingHours.saturday.isOpen === 'true'">
                          <ion-item>
                              <ion-label>الى</ion-label>
                              <ion-datetime display-format="HH:mm" formControlName="to" [(ngModel)]="restaurant?.workingHours.saturday.to"></ion-datetime>
                            </ion-item>
                      </ion-col>
                  </ion-col>

                  
              </ion-row>
              <ion-button type="submit" color="secondary" [disabled]="!workingHoursForm.valid">تأكيد التغيرات</ion-button>
              <ion-button type="button" color="danger" (click)="cancelEditTimeTable()">الغاء</ion-button>
            </form>
          <!-- </ion-col> -->
          <!-- <ion-col size="1" class="divider"> -->
            <!-- <div ></div> -->
          <!-- </ion-col> -->
          
          
          <ion-col size="12" *ngIf="!isEditTimeTable" style="border: 1px solid #c8c8c8">
            <ion-list>
              <ion-item>
                <ion-label><ion-text slot="start">مدة التجهيز (دقيقة): </ion-text></ion-label><ion-input value="{{restaurant?.averagePreparationTime}}" name="averagePreparationTime" margin-end disabled #averagePreparationTime></ion-input>
                <ion-button slot="end" buttonType="mat-button" (click)="toggle(averagePreparationTime, averagePreparationTime)"><ion-icon slot="icon-only" name="create" color="primary" #iaveragePreparationTime></ion-icon> </ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
          

          <ion-col *ngIf="!isEditTimeTable">
            <ion-item *ngFor="let review of reviews">
                <ion-grid fixed>
                  <ion-row>
                    <ion-col>
                      <ion-text><b>{{review.name}}</b></ion-text><br>
                      <ion-text class="date">{{review.date | date}}</ion-text>
                    </ion-col>
                    
                    <ion-col>
                      <ion-label text-end class="gold">
                        <ion-icon name="{{review.rate > 0 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
                        <ion-icon name="{{review.rate > 1 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
                        <ion-icon name="{{review.rate > 2 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
                        <ion-icon name="{{review.rate > 3 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
                        <ion-icon name="{{review.rate > 4 ? 'ios-star' : 'ios-star-outline'}}"></ion-icon>
                      </ion-label>
                    </ion-col>
                  </ion-row>
          
                  <ion-row class="review">
                    <ion-text>{{review.comment}}</ion-text>
                    <br>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-col>          
      </ion-row>

  </ion-content>