<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
        تنبيهات
      </ion-title>
      <ion-buttons slot="end" style="width: 50px"></ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-item *ngFor="let notify of notifications" style="border-bottom: 1px solid grey;">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="auto">
              <ion-avatar>
                <ion-img src="../../../assets/img/ringing_bell.png"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col><ion-text>{{notify.headline}}</ion-text></ion-col>
              </ion-row>
              <ion-row><ion-text style="font-size: 80%; color: grey">{{notify.date | date: 'd, h:mm a'}}</ion-text></ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>  
  </ion-content>
  