<ion-header>
  <ion-toolbar color="primary"  style="background-color: #ed052d">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <ion-text *ngIf="restaurant">{{restaurant.name}}</ion-text>
      <ion-icon name="ios-alert" (click)="restaurantDetailsModal()"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/customer/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment mode="md" color="light" [(ngModel)]="category">
    <ion-segment-button value="all" checked>
      الكل
    </ion-segment-button>
    <ion-segment-button value="{{categories[0]}}">
      وجبات
    </ion-segment-button>
    <ion-segment-button value="{{categories[1]}}">
      مشروبات
    </ion-segment-button>
    <ion-segment-button value="{{categories[2]}}">
      تحلية
    </ion-segment-button>
    <ion-segment-button value="{{categories[3]}}">
      مقبلات
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
    <ion-list *ngIf="restaurant">
      <ion-card *ngFor="let item of items" [hidden]="item.category != category && category != 'all'" class="{{item.id}}">
        <ion-img src="{{item.image}}"></ion-img>
      
        <ion-card-content>
          <ion-row>
              <ion-card-title>{{item.name}}</ion-card-title>
          </ion-row>
          
          <ion-row>
            <p>{{item.description}}</p>
          </ion-row>

          <br>
          <ion-input value="{{item.id}}" #id hidden></ion-input>
          <ion-row>
            <ion-col>
              <ion-button color="success" (click)="checkingSessionAndAddToOrder(id.value)">
                أضف<ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>

              <!-- <ion-button color="light" >
                <ion-text *ngIf="">{{added}}</ion-text>
              </ion-button>

              <ion-button color="danger" (click)="remove();">
                إزالة<ion-icon slot="icon-only" name="remove-circle"></ion-icon>
              </ion-button> -->
            </ion-col>

            <ion-col text-end>
              <ion-badge color="primary" class="price">{{item.price}}<br>ريال</ion-badge>
            </ion-col>
          </ion-row>
          
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="full" (click)="billModal()">أطلب</ion-button>
</ion-footer>