// @font-face {
//     font-family: ballon;
//     src: url(assets/fonts/AGA-Balloon.ttf) format("truetype");
// }

button.chief{
    margin:0; 
    width: 100%; 
    background-color:#F08080; 
    height: 33.33%;
    border-radius: 0px;
    border-bottom: 10px solid #fd6f6f;
}

button.delivery{
    margin:0; 
    width: 100%; 
    background-color:#FFA07A; 
    height: 33.33%;
    border-radius: 0px;
    border-bottom: 10px solid #ff9368;
}

button.customer{
    margin:0; 
    width: 100%; 
    background-color:#ffd700; 
    height: 33.33%;
    border-radius: 0px;
    border-bottom: 10px solid #efca16;
    
    
}


button.delivery:active{
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    border-top: 10px solid #ff9368;
    border-bottom: 1px solid #ff9368;
}

button.chief:active{
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    border-top: 10px solid #fd6f6f;
    border-bottom: 1px solid #fd6f6f;
}

button.customer:active{
    transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px);
        border-top: 10px solid #efca16;
        border-bottom: 1px solid #efca16;
}
.animate
{
	transition: border 0.2s ease-out;
	// -webkit-transition: border  0.2s ease-out;
}

h2{
    
    font-size: 60px;
    font-family: 'ballon';
    color: white;
}

