<button [routerLink]= "['/auth/auth-customer']" class="customer animate">
  <h2><ion-icon slot="icon-only" name="restaurant" size="large"></ion-icon> زبون</h2>
</button>

<button [routerLink]= "['/auth/auth-delivery']" class="delivery animate">
  <h2><ion-icon slot="icon-only" name="car" size="large"></ion-icon> توصيل</h2>
</button>

<button [routerLink]= "['/auth/auth-chief']" class="chief animate">
  <h2><ion-icon slot="icon-only" name="nutrition" size="large"></ion-icon> طباخ</h2>
</button>