<ion-content class="content">
<h1 style="color: white; text-align: center; font-weight: bold;">معلومات مطعمك</h1>

<br>
<br>
<form [formGroup]="registrationForm" (ngSubmit)="register()" >
  <ion-row justify-content-center class="container">
    <img src="{{imageUploadService?.imageFileName}}" (click)="getImage()" class="profile-pic image">
  </ion-row>
  <br>
  <ion-button color="dark" (click)="getLocation()" expand="full">حدد موقعك</ion-button>
  <br>
  <ion-item>
    <ion-input required type="text" formControlName="name" placeholder="الاسم"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input required type="text" formControlName="description" placeholder="الوصف"></ion-input>
  </ion-item>


  <ion-item>
    <ion-input required type="text" formControlName="averagePreparationTime" placeholder="متوسط الوقت لتجهيز"></ion-input>
  </ion-item>

  <ion-row formGroupName="workingHours">
    <ion-col size="12">
        الأحد
    </ion-col>
    <ion-col formGroupName="sunday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #sundayIsOpen>
                <ion-select-option value="true" selected>مفتوحين</ion-select-option>
                <ion-select-option value="false">مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>                  
          <ion-col *ngIf=" sundayIsOpen.value === 'true'">
            <ion-col size="6">
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6" >
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
        </ion-col>


    <ion-col size="12">
        الاثنين
    </ion-col>
    <ion-col formGroupName="monday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #mondayIsOpen>
                <ion-select-option value="true" selected>مفتوحين</ion-select-option>
                <ion-select-option value="false">مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>
          <ion-col *ngIf=" mondayIsOpen.value === 'true'">
            <ion-col size="6">
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6">
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
        </ion-col>
    
    
    <ion-col size="12">
        الثلاثاء
    </ion-col>
    <ion-col formGroupName="tuesday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #tuesdayIsOpen>
                <ion-select-option value="true" selected>مفتوحين</ion-select-option>
                <ion-select-option value="false">مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>
          <ion-col *ngIf=" tuesdayIsOpen.value === 'true'">
            <ion-col size="6" >
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6" >
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
        </ion-col>


    <ion-col size="12">
        الاربعاء
    </ion-col>
    <ion-col formGroupName="wensday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #wensdayIsOpen>
                <ion-select-option value="true" selected>مفتوحين</ion-select-option>
                <ion-select-option value="false">مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>
          <ion-col *ngIf=" wensdayIsOpen.value === 'true'">
            <ion-col size="6">
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6">
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
        </ion-col>


    <ion-col size="12">
        الخميس
    </ion-col>
    <ion-col formGroupName="thursday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #thursdayIsOpen>
                <ion-select-option value="true" selected>مفتوحين</ion-select-option>
                <ion-select-option value="false">مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>
          <ion-col *ngIf=" thursdayIsOpen.value === 'true'">
            <ion-col size="6">
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6">
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
      </ion-col>


    <ion-col size="12">
        الجمعة
    </ion-col>
    <ion-col formGroupName="friday" size="12">
        <ion-col size="12">
            <ion-item>
              <ion-label>حالة المطعم</ion-label>
              <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #fridayIsOpen>
                <ion-select-option value="true">مفتوحين</ion-select-option>
                <ion-select-option value="false" selected>مقفلين</ion-select-option>
              </ion-select> 
            </ion-item>

          </ion-col>
          <ion-col *ngIf="fridayIsOpen.value === 'true'">
            <ion-col size="6">
                <ion-item>
                    <ion-label>من</ion-label>
                    <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                  </ion-item>
            </ion-col>
            
            <ion-col size="6">
                <ion-item>
                    <ion-label>الى</ion-label>
                    <ion-datetime display-format="HH:mm"value="18:00" formControlName="to"></ion-datetime>
                  </ion-item>
            </ion-col>
          </ion-col>
      </ion-col>


    <ion-col size="12">
      السبت
  </ion-col>
  <ion-col formGroupName="saturday" size="12">
      <ion-col size="12">
          <ion-item>
            <ion-label>حالة المطعم</ion-label>
            <ion-select formControlName="isOpen" ok-text="تمام" cancel-text="قفل" #saturdayIsOpen>
              <ion-select-option value="true">مفتوحين</ion-select-option>
              <ion-select-option value="false" selected>مقفلين</ion-select-option>
            </ion-select> 
          </ion-item>

        </ion-col>
        <ion-col *ngIf="saturdayIsOpen.value === 'true'">
          <ion-col size="6">
              <ion-item>
                  <ion-label>من</ion-label>
                  <ion-datetime display-format="HH:mm" value="09:00" formControlName="from"></ion-datetime>
                </ion-item>
          </ion-col>
          
          <ion-col size="6">
              <ion-item>
                  <ion-label>الى</ion-label>
                  <ion-datetime display-format="HH:mm" value="18:00" formControlName="to"></ion-datetime>
                </ion-item>
          </ion-col>
        </ion-col>
    </ion-col>

    
</ion-row>


  <br>
  
  
  <br>
  <br>
  <!-- <ion-item> -->
    <ion-button color="success" type="submit" size="full" [disabled]="!registrationForm.valid || location === undefined">دخول</ion-button>
  <!-- </ion-item> -->
  <br>
  <!-- <div style="text-align: center;">

      <a style="color:white; font-weight: bold;" (click)="existingAccount()">يوجد حساب</a>
  </div> -->
  
</form>
</ion-content>